@import "../../../../styles/variables";
@import "../../../../../node_modules/susy/sass/susy";

.wardStock {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: calc(100vh - 120px);

  @include susy-media($smartphone) {
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 24px 48px;
    width: 100%;
    height: 100%;
  }

  &__title {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    position: relative;

    @include susy-media($smartphone) {
      * {
        width: 100%;
      }
    }
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #636262;
    margin-top: 70px;
  }
}
